@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
    color: hsl(193, 38%, 86%);
}
.telaDeCadastro{
    display: none;
}
.telaDeLogin{
    display: none;
}
.subMain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 300px auto;
    gap: 20px;
}
.login{
    background-color: hsl(219, 51%, 28%);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 1px gray;
    transition: 0.3s;
    cursor: pointer;
}
.createUser{
    background-color: hsl(217, 19%, 24%);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 1px gray;
    transition: 0.3s;
    cursor: pointer;
}
.createUser:hover{
    color: hsl(150, 69%, 46%);
    box-shadow: 0px 0px 4px 2px hsl(150, 69%, 46%);
}
.login:hover{
    color: hsl(0, 0%, 83%);
    box-shadow: 0px 0px 4px 2px hsl(0, 0%, 91%);
}
.main{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 300px;
    background-color: hsl(217, 19%, 24%);
    border-radius: 10px;
    margin: 100px auto;
}
.ids{
    color: hsl(150, 100%, 66%);
    margin: -50px 0px;
}
.texto{
    position: absolute;
    text-align: center;
    top: 180px;
    width: 440px;
}
.icones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 95px
}
.icone{
    margin: 0px 0px 25px 0px;
}
.dado{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(150, 100%, 66%);
    transition: 0.3s;
}
.dado:hover{
    transition: 0.3s;
    background-color: hsl(150, 69%, 46%);
    box-shadow: 0px 0px 10px 4px hsl(150, 100%, 66%);
}
.dado:disabled{
    background-color: gray;
    box-shadow: none;
}
/* .c-loader{

    display:block;
    animation: is-rotating infinite 1s;
    border: 6px solid hsl(0, 0%, 25%);
    border-radius: 50%;
    border-top-color: hsl(150, 100%, 66%);
    width: 50px;
    height: 50px;
}
@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
} */